compute_environment: LOCAL_MACHINE
debug: false
deepspeed_config:
  gradient_clipping: 1.0
  offload_optimizer:
    device: cpu  # pode passar memória do optimizer para CPU, economizando VRAM, em troca de mais tempo de treinamento (pela transição entre devices)
    pin_memory: true  # fixa parte da ram para acesso direto da gpu, ao invés de ter que copiar ram -> buffer -> vram
  offload_param_device: none  # na mesma ideiam, pode passar armazenamento dos parâmetros para CPU
  zero_stage: 2  # stage 1 - shard optimizator; stage 2 - shard gradients+opt; stage 3 - shard grad+opt+params
distributed_type: DEEPSPEED
downcast_bf16: 'no'  # em máquinas sem suporte a bf16, pode “rebaixar” bf16 para fp16 automaticamente. "NO" porque 4090 suporta
enable_cpu_affinity: true  # permite fixar processos em núcleos específicos da CPU, minimizando trocas entre núcleos.
machine_rank: 0  # índice do nó do cluster
main_training_function: main
mixed_precision: bf16  # o otimizador ainda pode ser mantido em fp32
num_machines: 1  # só possuo um nó
num_processes: 1  # só possuo uma GPU
rdzv_backend: static 
same_network: true  # informa que todos os nós estão na mesma rede